 /*font definition*/
            @font-face{
                font-family: oleo;
                src:"Oleo.woff";
            }
            /*end of font definition*/

            /*page div options*/
            div.site_container{
                width:100%;
                min-width:150px;
                /*background-color:lightcyan;*/
            }
            /*end of page div*/

            /*page heading*/
            div.header_bar{
                background-color: rgb(245,245,245);
                /*border:1px solid gray;*/
                height:50px;
                width:100%;
            }
            img.site_logo{
                height:50px;
                width:50px;
                position:relative;
                margin-right:5px;
                float:left;
            }
            p.site_title{
                position:relative;
                margin:0px;
                margin-left:5px;
                height:50px;
                width: 150px;
                float:left;
                font-weight: bold;
                font-size: 24px;
                line-height: 50px;
                font-family: oleo;
            }
            input.search_bar{
                width:60%;
                background-color:white;
                position:relative;
                min-width:180px;
                float:left;
                height:30px;
                line-height:30px;
                margin-top:10px;
                border: 1px grey solid;
            }
            
            #search_element{
                float:left;
                position:relative;
                width:80%;
            }
            
            #search_element:focus{
                border:1px lightslategrey solid;
            }
            
            #search_button{
                line-height:25px;
                margin-top:10px;
                position:absolute;
                float:right;
                height:28px;
                width:55px;
                text-align: center;
                color:white;
                background-color: #009DE4;
                border: 1px transparent solid;
                border-radius: 0px 4px 4px 0px;
            }
            
            #search_button:hover{
                cursor: pointer;
                
            }
            .sort_option{
                height:35px;
                float:left;
                /*background-color:lightcyan;*/
                line-height: 35px;
                border-bottom: 1px solid gray;
                width:100%;
                min-width:100%;
            }
            .sort_option.label{
                position:relative;
                float:left;
            }
            #sort_list
            {
                position:relative;
            }
            .pageview_toggle{
                padding:0;
                position:relative;
                top:2px;
                float:right;
                height:33px;
                line-height: 0;
                border-bottom: 0;
                margin-right:2%;
            }
            .pageview_toggle img{
                margin:0px;
                padding:0;
                position:relative;
                float:right;
            }
            
            .pageview_toggle img:hover{
                
                cursor:pointer;
            }
            /*end of page heading*/



/*GRID MOVIE ELEMENT*/
            div.grid div.movieContainer{
                position: relative;
                width: 210px;
                height: 210px;
                float: left;
                margin-top: 30px;
                margin-left: 30px;
                border: 1px solid grey;
                overflow: hidden;
            }
            div.grid div.movieContainer div.gridMoviePhoto{
                position: absolute;
                width:200px;
                height:200px;
                left: 5px;
                top: 5px;
                overflow: hidden;
            }
            div.grid div.movieContainer div.gridMoviePhoto img.movie{
                position: absolute;
                top: 0px;
                left: 0px;
                width: 200px;
                height: 200px;
            }
            div.grid div.movieContainer div.gridMoviePhoto img.HD{
                position: absolute;
                height: 30px;
                width: 40px;
                top: 15px;
                left: 15px;
            }
            div.grid div.movieContainer div.gridMoviePhoto div.descriptionGrid{
                position: absolute;
                text-align: center;
                vertical-align: middle;
                color: white;
                width: 200px;
                height:40px;
                left: 0px;
                top: 160px;
                background-color: rgba(0,0,0,.4);
                transition: 1s; /*Standard, IE 10*/
                    -webkit-transition: 1s; /* For Chrome, Safari*/
                    -moz-transition: 1s; /* For Firefox*/
                    -o-transition:1s; /* For Opera*/
            }
            div.grid div.movieContainer div.gridMoviePhoto div.descriptionGrid span{
                position:absolute;
                top:50%;
                left:5px;
                width:200px;
                height:10em;
                margin-top:-18px;
            }
            div.grid div.movieContainer:hover div.gridMoviePhoto div.descriptionGrid{
                top:80px;
                height:80px;
            }
            div.grid div.movieContainer:hover div.gridMoviePhoto div.starring{
                top:160px;
            }
            div.grid div.movieContainer div.gridMoviePhoto div.starring{
                position:relative;
                text-align:left;
                color:white;
                width: 200px;
                height: 40px;
                top:200px;
                background-color: rgba(0,0,0,.7);
                transition: 1s; /*Standard, IE 10*/
                    -webkit-transition: 1s; /* For Chrome, Safari*/
                    -moz-transition: 1s; /* For Firefox*/
                    -o-transition:1s; /* For Opera*/
            } 
            
            /*elements not using*/
            div.grid div.info{
                display: none;
            }
            div.grid div.cover{
                display: none;
            }
/*End of Grid Movie Element*/

/*List View Element*/
            div.list .info{
                float:right;
                
                
            }
            div.list div.movieContainer{
                width: 690px;
                height:260px;
                border-bottom: solid; 
                border-width:1.5px;
                margin-top: 15px;
                border-color: rgb(245,245,245);
                 
            }
            div.list img.screenshot{
                height:220px;
                width:220px;
               
            }
            div.list div.cover{
                float:left;
                border-style: solid;
                padding:5px;
                border-color: rgb(245,245,245);
                border-width:1.5px;
                position: relative;
               
            }
            div.list .descriptionList p{
                line-height: 1.5;
                font-size: 15px;
                width: 450px;
                background-color: rgb(236,255,255);
            }
            div.list .title{
                font-size: 18px;
                margin-top:0;
                font-weight: bold;
            }     
            div.list .bold{
                font-weight: bold;
            }
            
            div.list .year{
                font-size:15px;
                color:gray;
                font-weight: normal;
            }
            
            /*elements not using*/
            div.list div.gridMoviePhoto{
                display: none;
            }
/* End of List view element*/
