/*FONT DEFINITION*/
    @font-face{
        font-family: oleo;
        src:"Oleo.woff";
    }
/*END FONT DEFINITION*/


/*HEADER BAR - Movie Icon, Title, Search Bar, Search Button*/
    div.header_bar{
        background-color: rgb(245,245,245);
        /*border:1px solid gray;*/
        height:50px;
        width:100%;
    }
    img.site_logo{
        height:50px;
        width:50px;
        position:relative;
        margin-right:5px;
        float:left;
    }
    p.site_title{
        position:relative;
        margin:0px;
        margin-left:5px;
        height:50px;
        width: 150px;
        float:left;
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        font-family: oleo;
    }

    input.search_bar{
        width:60%;
        background-color:white;
        position:relative;
        min-width:200px;
        float:left;
        height:30px;
        line-height:30px;
        margin-top:10px;
        border: 1px grey solid;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    input.search_bar:focus{
        border:1px lightslategrey solid;
    }

    .search_button{
        line-height:28px;
        margin-top:10px;
        position:absolute;
        float:left;
        height:30px;
        width:55px;
        text-align: center;
        color:white;
        background-color: #009DE4;
        border: 1px transparent solid;
        border-radius: 0px 4px 4px 0px;
    }

    .search_button:hover{
        cursor: pointer;

    }

    div.suggestions{
        position:absolute;
        top:48px;
        left: 220px;
        z-index:50;
        border-color:lightgray;
        background-color:white;
        border-style:solid;
        border-width: 1px;
        width:200px;
        overflow:auto;
        display:none;
    }

    div.sub_suggestions{
        width:200px;
    }

    div.sub_suggestions:hover{
        background-color:gainsboro;
    }

    /*END HEADER BAR*/


    /*SORT BAR - Sort by, Grid/List Toggle*/
    .sort_option{
        height:35px;
        width: 100%;
        line-height: 35px;
        border-bottom: 1px solid gray;
    }
    .sort_option.label{
        position:relative;
        float:left;
    }
    #sort_list
    {
        position:relative;
    }
    .pageview_toggle{
        padding:0;
        position:relative;
        top:2px;
        float:right;
        height:33px;
        line-height: 0;
        border-bottom: 0;
    }
    .pageview_toggle img{
        margin:0px;
        padding:0;
        position:relative;
        float:right;
    }

    .pageview_toggle img:hover{

        cursor:pointer;
    }
/*END SORT BAR*/


/*~~~~~~END PAGE HEADER~~~~~~~~~~~~*/



/*GRID MOVIE ELEMENT*/
    div.grid div.movieContainer{
        position: relative;
        width: 210px;
        height: 210px;
        float: left;
        margin-top: 30px;
        margin-left: 30px;
        border: 1px solid grey;
        overflow: hidden;
    }
    div.grid div.movieContainer div.gridMoviePhoto{
        position: absolute;
        width:200px;
        height:200px;
        left: 5px;
        top: 5px;
        overflow: hidden;
    }
    div.grid div.movieContainer div.gridMoviePhoto img.movie{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 200px;
        height: 200px;
    }
    div.grid div.movieContainer div.gridMoviePhoto img.true{
        position: absolute;
        height: 30px;
        width: 40px;
        top: 15px;
        left: 15px;
    }
    div.grid div.movieContainer div.gridMoviePhoto img.false{
        display: none;
    }
    div.grid div.movieContainer div.gridMoviePhoto div.descriptionGrid{
        position: absolute;
        text-align: center;
        vertical-align: middle;
        color: white;
        width: 200px;
        height:40px;
        left: 0px;
        top: 160px;
        background-color: rgba(0,0,0,.4);
        transition: 1s; /*Standard, IE 10*/
            -webkit-transition: 1s; /* For Chrome, Safari*/
            -moz-transition: 1s; /* For Firefox*/
            -o-transition:1s; /* For Opera*/
    }
    div.grid div.movieContainer div.gridMoviePhoto div.descriptionGrid span{
        position:absolute;
        top:50%;
        left:5px;
        width:200px;
        height:10em;
        margin-top:-18px;
    }
    div.grid div.movieContainer:hover div.gridMoviePhoto div.descriptionGrid{
        top:80px;
        height:80px;
    }
    div.grid div.movieContainer:hover div.gridMoviePhoto div.starring{
        top:160px;
    }
    div.grid div.movieContainer div.gridMoviePhoto div.starring{
        position:relative;
        text-align:left;
        color:white;
        width: 200px;
        height: 40px;
        top:200px;
        background-color: rgba(0,0,0,.7);
        transition: 1s; /*Standard, IE 10*/
            -webkit-transition: 1s; /* For Chrome, Safari*/
            -moz-transition: 1s; /* For Firefox*/
            -o-transition:1s; /* For Opera*/
    } 

    /*not using these elements*/
    div.grid div.info{
        display: none;
    }
    div.grid div.cover{
        display: none;
    }
/*END GRID MOVIE ELEMENT*/

/*LIST VIEW ELEMENT*/
    div.list .info{
        float:right;
    }
    div.list div.movieContainer{
        width: 690px;
        height:260px;
        border-bottom: solid; 
        border-width:1.5px;
        margin-top: 15px;
        //margin-left: 10px;
        border-color: rgb(245,245,245);

    }
    div.list img.screenshot{
        //padding:10px;
        height:220px;
        width:220px;

    }
    div.list div.cover{
        float:left;
        border-style: solid;
        padding:5px;
        border-color: rgb(245,245,245);
        border-width:1.5px;
        position: relative;               
        //margin-left: 10px;
       // margin-right: 10px;

    }
    div.list .descriptionList p{
        line-height: 1.5;
        font-size: 15px;
        width: 450px;
        background-color: rgb(236,255,255);
    }
    div.list .title{
        font-size: 18px;
        margin-top:0;
        font-weight: bold;
    }     
    div.list .bold{
        font-weight: bold;
    }

    div.list .year{
        font-size:15px;
        color:gray;
        font-weight: normal;
    }

    /*elements not using*/
    div.list div.gridMoviePhoto{
        display: none;
    }
    div.list div.one, div.list div.two, div.list div.three, div.list div.four, div.list div.five{
        display:inline-block;
        margin-top: 10px;
    }
    div.list div._1 div.two, div._1 div.three, div._1 div.four, div._1 div.five{
        display: none;
    }
    div.list div._2 div.one, div._2 div.three, div._2 div.four, div._2 div.five{
        display: none;

    }div.list div._3 div.one, div._3 div.two, div._3 div.four, div._3 div.five{
        display: none;

    }div.list div._4 div.one, div._4 div.two, div._4 div.three, div._4 div.five{
        display: none;

    }div.list div._5 div.one, div._5 div.two, div._5 div.three, div._5 div.four{
        display: none;
    }
/*END LIST VIEW ELEMENT*/


/*HALFHEARTED ATTEMPT AT MOBILE VIEW*/
@media all and (max-width: 480px) {
    /*CSS for displays with width equal or large
    than 480px*/
    img.site_logo{
        display:none;
    }
    .search_container{
        display: block;
        
    }
    .search_bar{
        display: block;
    }
    div.list .info{
    min-width: 480px;
    float:left;
    }
    div.list .descriptionList p{
        line-height: 1.5;
        font-size: 15px;
        width: 300px;
        background-color: rgb(236,255,255);
    }
    div.sort_option{
        width:100%;
    }
}
/*END HALFHEARTED ATTEMPT AT MOBILE VIEW*/
