<div class="movieContainer">
    
    <!--Contains all html for Grid based movies-->
    <div class="gridMoviePhoto">
        <img class="movie" src='{{photo}}'>
        <img class="{{HD}}" src='Data/Icons/HD.png'>
        <div class="descriptionGrid">
            <span>{{title}}<br>({{year}})</span>

        </div>
        <div class="starring">
                <b>&nbsp;Starring:</b><br>&nbsp;{{starring}}
        </div>
    </div>
    
    
    <!--Contains html for list based movies-->
    <div class="cover">
        <img class="screenshot" src='{{photo}}'>
    </div>
    <div class="info">
        <div class="title">
            {{title}}
            <span class="year">({{year}})</span> 
        </div>
        <p><span class="bold">Starring:</span>&nbsp{{starring}}</p>

            
            <div class="_{{rating}}">
                <span class="bold">Rating:</span>
                
                <!-- Only show class "one" if parent class is "_1"-->
                <!-- This is defined in the css-->
                <div class="one">
                    <img src="Data/Icons/gold_star.png" height="20" width="20">
                    <img src="Data/Icons/regular_star.png" height="20" width="20">
                    <img src="Data/Icons/regular_star.png" height="20" width="20">
                    <img src="Data/Icons/regular_star.png" height="20" width="20">
                    <img src="Data/Icons/regular_star.png" height="20" width="20">
                </div>
                
                <!-- Do a similar thing as above-->
                <div class="two">
                    <img src="Data/Icons/gold_star.png" height="20" width="20">
                    <img src="Data/Icons/gold_star.png" height="20" width="20">
                    <img src="Data/Icons/regular_star.png" height="20" width="20">
                    <img src="Data/Icons/regular_star.png" height="20" width="20">
                    <img src="Data/Icons/regular_star.png" height="20" width="20">
                </div>
                <div class="three">
                    <img src="Data/Icons/gold_star.png" height="20" width="20">
                    <img src="Data/Icons/gold_star.png" height="20" width="20">
                    <img src="Data/Icons/gold_star.png" height="20" width="20">
                    <img src="Data/Icons/regular_star.png" height="20" width="20">
                    <img src="Data/Icons/regular_star.png" height="20" width="20">
                </div>
                <div class="four">
                    <img src="Data/Icons/gold_star.png" height="20" width="20">
                    <img src="Data/Icons/gold_star.png" height="20" width="20">
                    <img src="Data/Icons/gold_star.png" height="20" width="20">
                    <img src="Data/Icons/gold_star.png" height="20" width="20">
                    <img src="Data/Icons/regular_star.png" height="20" width="20">
                </div>
                <div class="five">
                    <img src="Data/Icons/gold_star.png" height="20" width="20">
                    <img src="Data/Icons/gold_star.png" height="20" width="20">
                    <img src="Data/Icons/gold_star.png" height="20" width="20">
                    <img src="Data/Icons/gold_star.png" height="20" width="20">
                    <img src="Data/Icons/gold_star.png" height="20" width="20">
                </div>
            </div><!-- star-->

            <div class ="descriptionList">
                <p>{{description}}</p>
            </div>


    </div><!-- info-->


</div>
